:root{
  --bg0:#f2e5bc;
  --bg1:#ebdbb2;
  --bg2:#d5c4a1;
  --textC:#282828;
  --contrast0:#af3a03;
  --contrast1:#427b58;
  --contrast2:#8f3f71;
  
}

.importHeading {
  padding-right:20px;
  padding-left:20px;
  padding-bottom:1px;
  border-left: 6px solid var(--contrast0);
  color:var(--textC);
  background-color: var(--bg2);
}

.importBody{
  color:var(--textC);
  display: none;
  background-color:var(--bg1);
  border-left: 6px solid var(--textC);
}

.importBodyBgTwo{
  color:var(--textC);
  display: none;
  background-color:var(--bg2);
  border-left: 6px solid var(--textC);
}
.sectionHead{
  padding-right:20px;
  padding-left:20px;
  border-left: 6px solid var(--contrast0);
  color:#282828;
  background-color:#a89984;

}

.import{
  padding-right:20px;
  padding-top:5px;
  padding-bottom:5px;
}

.section{
  padding-top:5px;
  padding-bottom:5px;
}

h2{
  margin:0;
  padding:0;
}

.sectionBody{
  color:var(--textC);
  display: none;
  background-color:var(--bg1);
  margin:0;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  word-break:break-all;
  word-wrap:wrap-all;
  border-left: 6px solid var(--textC);

}

.sectionBodyBgTwo{
  color:var(--textC);
  display: none;
  background-color:var(--bg2);
  margin:0;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  word-break:break-all;
  word-wrap:wrap-all;
  border-left: 6px solid var(--textC);

}
dt{
}

dd{
}
body {
  color:var(--textC);
  background-color:var(--bg2);
  font-family: Ariel, Helvetica, sans-serif;
}

.container{
  position:relative;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-top:20px;
  width:vw;
  border-left:6px solid var(--bg1);


}
