<script> function fold(y) { var x = document.getElementById(y) ; if(x.style.display === "none"){x.style.display = "block";}else {x.style.display = "none"; } } </script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script> function fold0_0() {fold('0_0')}</script>
<section>
<div class="sectionHeading" onclick="fold0_0()">
<h2>
Main
</h2>
</div>
<div id="0_0" class="sectionBody background-color-one">
<p>main text</p>
<script> function fold0_4_1_0() {fold('0_4_1_0')} </script>
<div class="import">
<div class="importHeading" onclick="fold0_4_1_0()">
<h2>
Reference
</h2>
</div>
<div id="0_4_1_0" class="importBody background-color-two">
<p>This test is in a hidden reference</p>
<script> function fold0_3_1_4_1_0() {fold('0_3_1_4_1_0')}</script>
<section>
<div class="sectionHeading" onclick="fold0_3_1_4_1_0()">
<h2>
Hidden Reference subheading
</h2>
</div>
<div id="0_3_1_4_1_0" class="sectionBody background-color-one">
<p>This test is in a subheading of the hidden reference</p>
<p>referenced text</p>
</div>
</section>
</div>
</div>
<script> function fold0_6_1_0() {fold('0_6_1_0')}</script>
<section>
<div class="sectionHeading" onclick="fold0_6_1_0()">
<h2>
Heading 1
</h2>
</div>
<div id="0_6_1_0" class="sectionBody background-color-two">
<p>This text is under heading 1</p>
</div>
</section>
<script> function fold0_7_1_0() {fold('0_7_1_0')}</script>
<section>
<div class="sectionHeading" onclick="fold0_7_1_0()">
<h2>
Heading 2
</h2>
</div>
<div id="0_7_1_0" class="sectionBody background-color-two">
<p>This text is under heading 2</p>
<script> function fold0_3_1_7_1_0() {fold('0_3_1_7_1_0')} </script>
<div class="import">
<div class="importHeading" onclick="fold0_3_1_7_1_0()">
<h2>
Heading 1
</h2>
</div>
<div id="0_3_1_7_1_0" class="importBody background-color-one">
<p>This text is under heading 1</p>
</div>
</div>
</div>
</section>
</div>
</section>
<h1 id="appendix">Appendix</h1>
