<h2 id="heading">Heading</h2>
<h3 id="some-math">Some math</h3>
<p>A bunch of text <span class="math display">\[\frac{1}{2}\]</span></p>
<h3 id="some-other-things">Some other things</h3>
<ul>
<li>Bullet point</li>
<li>Bullet point 2</li>
</ul>
